<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            <link href="{{ asset('/assets/bootstrap.css') }}" rel="stylesheet" />
            <link href="{{ asset('/assets/main.css') }}" rel="stylesheet" />
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        {% block body %}{% endblock %}

            {# JQuery #}
            <script src="{{ asset('//code.jquery.com/jquery-1.11.3.min.js') }}"></script>
            {# JQuery ui voor draggable #}
            <script src="/assets/jquery-ui_1.11.4/jquery-ui.min.js"></script>
            <link rel="stylesheet" href="/assets/jquery-ui_1.11.4/jquery-ui.min.css" >
            {# JQuery plugin for complex dropdowns #}
            <script src="/assets/chosen_v1.4.2/chosen.jquery.min.js"></script>
            <link rel="stylesheet" href="/assets/chosen_v1.4.2/chosen.min.css" >

            {# loading angular in the right order will fix the 'angular is not defined' error, if we uglify these scripts bad things happen #}
            <script src="/assets/angular/angular.js"></script>
            <script src="/assets/angular/angular-sanitize.js"></script>
            <script src="/assets/angular/angular-route.js"></script>
            {#  directive that allows you to sort an array with drag & drop. #}
            <script src="/assets/ui-sortable/src/sortable.js"></script>
            {# UI-bootstrap, voor pagination, pickers etc #}
            <script src="/assets/UI-bootstrap/ui-bootstrap-0.13.3.min.js"></script>
            <script src="/assets/UI-bootstrap/ui-bootstrap-tpls-0.13.3.min.js"></script>
            <link rel="stylesheet" href="/assets/UI-bootstrap/ui-bootstrap-0.13.3-csp.css" >

            {# TODO currently not used #}
            <script src="//blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>

            {# Mediaelementjs #}
            <script src="/assets/johndyer-mediaelement-64dcb19/build/mediaelement-and-player.min.js"></script>
            <link rel="stylesheet" href="/assets/johndyer-mediaelement-64dcb19/build/mediaelementplayer.css" >

            {# Custom javascript #}
            <script src="{{ asset('/assets/output.min.js') }}"></script>

            {# submitting forms using ajax#}
            <script src="http://malsup.github.com/jquery.form.js"></script>

            {# TODO gave problems when updating models in angular, changing pages #}
            {# tables with scrollable body's #}
            <script src="/assets/JQscrollTableBody/jquery.scrollTableBody-1.0.0.js"></script>

        {% block javascripts %}{% endblock %}

    </body>
</html>
