{# app/Resources/views/html_templates/upload_form.html.twig #}

<div id="form_box">
    {{ form_start(form, {'attr': {'id': 'upload_form'}}) }}
        {#{{ form_widget(form) }}#}


        <div class="input-group row floatCenter">
            <div class="fileUpload-wrapper" >
                <div class="fileUpload">
                    <span class="custom-span">+</span>
                    <p class="custom-para">Select Song</p>
                    {{ form_row(form.file, {'attr': {'class': 'btn btn-default upload'}}) }}
                </div>
                <input id="uploadFile" placeholder="0 files selected" disabled="disabled" />
            </div>
        </div>

        <div class="input-group row">
            {{ form_row(form.name) }}
        </div>

        <div class="input-group row">
            {{ form_row(form.artist, {'attr': {'class': 'chosen-select', 'data-placeholder': 'Artist, optional' }}) }}
        </div>

        <div class="input-group row">
            {{ form_row(form.album, {'attr': {'class': 'chosen-select', 'data-placeholder': 'Album, optional' }}) }}
        </div>

        <div class="input-group row">
            {{ form_row(form.playlist, {'attr': {'class': 'chosen-select', 'data-placeholder': 'Playlist, optional' }}) }}
        </div>

        <div class="input-group row floatCenter">
            {{ form_row(form.submit, {'attr': {'class': 'btn btn-default'}}) }}
        </div>

{#    <select class="chosen-select" tabindex="1" style="width:350px;" data-placeholder="Choose a Country...">
        <option value=""></option>
        <option value="United States">United States</option>
        <option value="United Kingdom">United Kingdom</option>
        <option value="Afghanistan">Afghanistan</option>
        <option value="Aland Islands">Aland Islands</option>
        <option value="Albania">Albania</option>
        <option value="Algeria">Algeria</option>
        <option value="American Samoa">American Samoa</option>
        <option value="Andorra">Andorra</option>
    </select>#}


    {{ form_end(form) }}
</div>




<script type="text/javascript">
    /* we use the jquery chosen plugin to create complex DropDowns */
    $(".chosen-select").chosen({allow_single_deselect: true});

    /* script needed to style the fileInput */
    $( "input.upload").change(function() {

        var fileName = $(this).val();

        /* set the value to show what file is selected*/
        $("#uploadFile").val(fileName);

        /* automaticly suggest a filename based on the file*/
        var fileNameArray = fileName.split('.');
        /* pop last item off the array, wich will be the extension */
        fileNameArray.pop();
        /* join the array again with no seperator, and now we have the filename without the extension*/
        var fileNameNoExt = fileNameArray.join("");
        /* set the filename*/
        $("#form_name").val(fileNameNoExt);
    });
</script>